body {
    font-family: "Poppins", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.section {
    font-family: "Poppins", sans-serif;
    color: whitesmoke
}

nav {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: paleturquoise;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

#navBrandID{
    color: #212122;
}
#navLinkID{
    color: #212122;
}

#DataTables_Table_0 > tbody > tr > td {
    background-color: rgb(38, 31, 44);
}

#DataTables_Table_0_filter > label {
    color: paleturquoise;
}

#DataTables_Table_0_info {
    color: rgb(175, 238, 238);
}

#fp-nav ul li a span{
    background-color: blue;
}

#fp-nav > ul > li:nth-child(1) > a > span:nth-child(2) {
    background-color: whitesmoke;
}

#fp-nav > ul > li:nth-child(2) > a > span:nth-child(2) {
    background-color: whitesmoke;
}

#fp-nav > ul > li:nth-child(3) > a > span:nth-child(2) {
    background-color: whitesmoke;
}


  .custom-search-form {
    width: 100%;
  }

  .custom-search-input {
    width: 80%;
  }

  .custom-search-btn {
    width: 20%;
  }

  /* Media Query for smaller screens */
  @media (max-width: 767px) {
    .custom-search-input,
    .custom-search-btn {
      width: 100%;
    }
  }



  .inventory-table {
        color: white;
    }

    #inventoryTable th,
    #inventoryTable td {
        color: white;
        border: 1px solid white;
    }

    #inventoryTable thead {
        background-color: black;
    }

    #inventoryTable tbody {
        background-color: black;
    }

    #inventoryTable tbody tr:nth-child(even) {
        background-color: #333;
    }

    #inventoryTable tbody tr:nth-child(odd) {
        background-color: #333;
    }

    #inventoryTable_filter input,
    #inventoryTable_length select {
        color: white;
    }

    #inventoryTable_info,
    #inventoryTable_paginate {
        color: white;
    }